Repository KN-Langos/Patapim, pull requests merged in 2025-07, with the labels that each got.

#8 Lex binary octal and hexadecimal numbers as integers
  src/Lexer.zig
Labels: A-Lexer, C-Feature

#9 Prepare structure for the parser
  src/Lexer.zig
  src/common.zig
  src/parse/Parser.zig
  src/parse/ast.zig
  src/root.zig
Labels: A-Parser, C-Other, P-Blocking

#12 Add GitHub actions workflow for ci and protecting main
  .github/workflows/ci.yml
  .github/workflows/protect-main.yml
Labels: A-General, C-Other

#20 Implement operator and special tokens in lexer
  src/Lexer.zig
Labels: A-Lexer, C-Feature

#26 Write parser and ast nodes for functions
  src/Lexer.zig
  src/parse/Parser.zig
  src/parse/ast.zig
Labels: A-Parser, C-Feature

#28 Write parser and ast nodes for native function decls
  src/parse/Parser.zig
  src/parse/ast.zig
Labels: A-Parser, C-Feature

#33 Parse loops
  src/parse/Parser.zig
  src/parse/ast.zig
Labels: A-Parser, C-Feature

#49 Parse break and continue statements
  spec/examples/playground.brr
  src/parse/Parser.zig
  src/parse/ast.zig
Labels: A-Parser, C-Feature

#56 Implement item name binding and name resolution passes
  src/analysis/ItemNameBindingPass.zig
  src/analysis/Metadata.zig
  src/analysis/NameResolutionPass.zig
  src/common.zig
  src/main.zig
  src/parse/Parser.zig
  src/parse/ast.zig
  src/root.zig
  src/utility/AstPrettyPrinter.zig
  src/visitor.zig
Labels: C-Feature, A-Analysis

#69 Implement constans evaluation
  src/interpreter/Interpreter.zig
  src/interpreter/runtime.zig
  src/main.zig
Labels: C-Feature, A-Interpreter

#72 Implement closures in parser
  src/parse/Parser.zig
  src/parse/ast.zig
  src/utility/AstPrettyPrinter.zig
Labels: A-Parser, C-Feature

#76 Accept newlines at the end of source + pretty print break and continue + read source in main from file
  src/Lexer.zig
  src/main.zig
  src/parse/Parser.zig
  src/test.brr
  src/utility/AstPrettyPrinter.zig
Labels: A-Lexer, A-Parser, C-Bug, C-Feature

#78 Function declaration, calling and return statement evaluation
  src/Lexer.zig
  src/interpreter/Interpreter.zig
  src/interpreter/runtime.zig
  src/test.brr
Labels: C-Feature, A-Interpreter

#80 66 implement arrays evaluation
  src/interpreter/Interpreter.zig
  src/interpreter/runtime.zig
  src/test.brr
Labels: C-Feature, A-Interpreter

#83 Native functions declaration evaluation
  spec/examples/nativeLib.zig
  spec/examples/playground.brr
  src/Lexer.zig
  src/interpreter/Interpreter.zig
  src/interpreter/runtime.zig
  src/parse/Parser.zig
  src/parse/ast.zig
  src/test.brr
  src/utility/AstPrettyPrinter.zig
Labels: C-Feature, A-Interpreter

#87 Add tuples evaluation
  spec/examples/nativeLib.zig
  src/interpreter/Interpreter.zig
  src/interpreter/runtime.zig
  src/parse/Parser.zig
  src/parse/ast.zig
  src/test.brr
Labels: A-Parser, C-Feature, A-Interpreter
